/* You can add global styles to this file, and also import other style files */
body {
    --cor-1: white;
    --cor-2: #57429D;
    --cor-3: gray;
    --cor-4: #9197B3;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
