<div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="sidebar-links">
      <div class="top">
        <div class="logo">
          <img src="cofrinho.png" alt="Logo">
          <span class="logo-text" *ngIf="!isCollapsed">Banco <small class="pequenoCinza">v.01</small></span>
        </div>
      </div>
      
      <ul class="menu">
        <li *ngFor="let item of menuItems; let i = index" 
            (click)="selecionarItem(i, $event)" 
            [routerLink]="item.link" 
            [ngClass]="{'selecionado': itemSelecionado === i}"
            role="button" 
            [attr.aria-label]="'Página Inicial'">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span *ngIf="!isCollapsed">{{ item.label }}</span>
          <mat-icon class="direita">chevron_right</mat-icon> 
        </li>
      </ul>
    </div>
  
    
    <div class="collapse-trigger" (click)="toggleSidebar()"></div>
  </div>
  