<div class="flex-container">
    <div class="caixa-inputs">
        <h1 class="titulo">Saque/Depósito</h1>

        <p class="texto-input">Número da conta</p>
        <mat-form-field>
            <input matInput type="number" class="example-left-align" placeholder="Ex: 123456">
          </mat-form-field>
        <p class="texto-input">Valor da transação</p>
            <mat-form-field floatLabel="always">
                <input matInput type="number" class="example-left-align" placeholder="0.00" />
                <span matTextPrefix>$&nbsp;</span>
              </mat-form-field>
          <p class="texto-input">Tipo da Transação</p>
          <mat-form-field>
            <mat-label>Selecione...</mat-label>
            <mat-select>
              <mat-option value="deposit">Depósito</mat-option>
              <mat-option value="withdraw">Saque</mat-option>
            </mat-select>
          </mat-form-field>

          <a class="botao-confirma" style="background-color: var(--cor-2);" mat-flat-button href="https://www.google.com/" target="_blank">Confirmar</a>
          <div class="msg-final"></div>
    </div>
</div>


