<div class="container">
  <div class="main-menu">
    <img src="cofrinho.png" alt="Logo da empresa" class="logo-img"/>
    <h1>Menu Principal</h1>
    <ul>
      <li><a routerLink="/customer-registration">Cadastrar Cliente</a></li>
      <li><a routerLink="/account-registration">Cadastrar Conta</a></li>
      <li><a routerLink="/customer-info">Consultar Informações do Cliente</a></li>
      <li><a routerLink="/transaction-reports">Gerar Relatórios de Transações</a></li>
      <li><a routerLink="/transactions">Depósito / Saque</a></li>
    </ul>
  </div>
</div>